/* src/Banner.css */
.banner {
  display: flex;
  /* flex-direction: column; */
  justify-content: end;
  align-items: center;
  text-align: center;
  padding: 40px;
  /* background-color: #f5f5f5; */
  position: relative;
}

.banner-without-row {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px;
  /* background-color: #f5f5f5; */
  position: relative;
}

.banner-content {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 33%;
  position: absolute;
  z-index: 1;
  width: 30%;
  margin-left: 100px;
  left: 10px;
}

.banner-content-without-search {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 33%;
  position: absolute;
  z-index: 1;
  width: 30%;
  margin-left: 100px;
  margin-top: 55px;
}

.banner-text h1 {
  margin: 0;
  font-size: calc(20px + 1vw);
  font-weight: 400;
  text-align: center;
}


.banner-image {
  display: flex;
  justify-content: end;
  align-items: center;
}

.banner-image-without-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-image-without-search img {
  width: 100%;
}

.banner-image img {
  width: auto;
  border-radius: 8px;
  height: auto;
}

.banner-buttons {
  position: absolute;
  bottom: 58px;
  right: 73px;
  display: flex;
  gap: 23px;
}

.arrow-button {
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.arrow-button:hover {
  background-color: #e0e0e0;
}

.search-container {
  background: #fff;
  border: 1px solid transparent;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  left: 249px;
  top: 20%;
  width: 18%;
  height: 60%;
}

.search-container h2 {
  font-size: calc(18px + 0.5vw);
  margin-bottom: 20px;
  text-align: center;
  font-weight: 400;
}

.search-options {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 20px;
}

.search-option select {
  width: 100%;
  padding: 14px;
  font-size: calc(12px + 0.5vw);
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-button {
  background-color: #a31b1b;
  color: #fff;
  padding: 10px 20px;
  font-size: calc(12px + 0.5vw);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.search-button:hover {
  background-color: #850f0f;
}


@media screen and (max-width: 400px) {
  .banner {
    flex-direction: row;
    text-align: left;
  }

  .banner-without-row {
    flex-direction: column;
    text-align: left;
  }

  .banner-image {
    flex: 1;
  }

  .banner-image img {
    width: auto;
    border-radius: 8px;
    height: auto;
    margin-left: 78px;
  }

  .search-container {
    background: #fff;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 20px;
    top: 30%;
    width: 46%;
    height: 35%;
  }

  .search-container h2 {
    font-size: calc(12px + 0.5vw);
    text-align: center;
    font-weight: 400;
    margin: 0;
  }

  .search-options {
    gap: 6px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .search-option select {
    width: 100%;
    padding: 6px;
    font-size: calc(6px + 0.5vw);
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .search-button {
    background-color: #a31b1b;
    color: #fff;
    padding: 6px 15px;
    font-size: calc(8px + 0.5vw);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }

  .banner-content {
    background-color: white;
    border-radius: 10px;
    padding: 7px;
    margin-bottom: 42%;
    position: absolute;
    z-index: 1;
    width: 38%;
    margin-left: 26px;
  }

  .banner-text h1 {
    margin: 0;
    font-size: calc(10px + 0.5vw);
    font-weight: 400;
    text-align: center;
  }

  .banner-image-without-search img {
    width: 100%;
  }

  .banner-content-without-search {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    width: 30%;
    margin-left: 16px;
    margin-top: 11px;
  }

  .banner-without-row {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 24px 10px 10px 10px;
    position: relative;
  }
}

@media screen and (min-width: 401px) and (max-width: 450px) {
  .banner {
    flex-direction: row;
    text-align: left;
  }

  .banner-without-row {
    flex-direction: column;
    text-align: left;
  }

  .banner-image {
    flex: 1;
  }

  .banner-image img {
    width: auto;
    border-radius: 8px;
    height: auto;
    margin-left: 78px;
  }

  .search-container {
    background: #fff;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 20px;
    top: 30%;
    width: 46%;
    height: 35%;
  }

  .search-container h2 {
    font-size: calc(12px + 0.5vw);
    text-align: center;
    font-weight: 400;
    margin: 0;
  }

  .search-options {
    gap: 6px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .search-option select {
    width: 100%;
    padding: 6px;
    font-size: calc(6px + 0.5vw);
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .search-button {
    background-color: #a31b1b;
    color: #fff;
    padding: 6px 15px;
    font-size: calc(8px + 0.5vw);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }

  .banner-content {
    background-color: white;
    border-radius: 10px;
    padding: 7px;
    margin-bottom: 35%;
    position: absolute;
    z-index: 1;
    width: 38%;
    margin-left: 26px;
  }

  .banner-text h1 {
    margin: 0;
    font-size: calc(10px + 0.5vw);
    font-weight: 400;
    text-align: center;
  }

  .banner-image-without-search img {
    width: 100%;
  }

  .banner-content-without-search {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    width: 30%;
    margin-left: 16px;
    margin-top: 11px;
  }

  .banner-without-row {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 24px 10px 10px 10px;
    position: relative;
  }
}

@media screen and (min-width: 451px) and (max-width: 500px) {
  .banner {
    flex-direction: row;
    text-align: left;
  }

  .banner-without-row {
    flex-direction: column;
    text-align: left;
  }

  .banner-image {
    flex: 1;
  }

  .banner-image img {
    width: auto;
    border-radius: 8px;
    height: auto;
    margin-left: 78px;
  }

  .search-container {
    background: #fff;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 20px;
    top: 30%;
    width: 46%;
    height: 35%;
  }

  .search-container h2 {
    font-size: calc(12px + 0.5vw);
    text-align: center;
    font-weight: 400;
    margin: 0;
  }

  .search-options {
    gap: 6px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .search-option select {
    width: 100%;
    padding: 6px;
    font-size: calc(6px + 0.5vw);
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .search-button {
    background-color: #a31b1b;
    color: #fff;
    padding: 6px 15px;
    font-size: calc(8px + 0.5vw);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }

  .banner-content {
    background-color: white;
    border-radius: 10px;
    padding: 7px;
    margin-bottom: 32%;
    position: absolute;
    z-index: 1;
    width: 38%;
    margin-left: 40px;
  }

  .banner-text h1 {
    margin: 0;
    font-size: calc(10px + 0.5vw);
    font-weight: 400;
    text-align: center;
  }
  .banner-image-without-search img {
    width: 100%;
  }

  .banner-content-without-search {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    width: 30%;
    margin-left: 16px;
    margin-top: 11px;
  }

  .banner-without-row {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 24px 10px 10px 10px;
    position: relative;
  }
}

@media screen and (min-width: 501px) and (max-width: 550px) {
  .banner {
    flex-direction: row;
    text-align: left;
  }

  .banner-without-row {
    flex-direction: column;
    text-align: left;
  }

  .banner-image {
    flex: 1;
  }

  .banner-image img {
    width: auto;
    border-radius: 8px;
    height: auto;
    margin-left: 78px;
  }

  .search-container {
    background: #fff;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 80px;
    top: 34%;
    width: 33%;
    height: 35%;
  }

  .search-container h2 {
    font-size: calc(12px + 0.5vw);
    text-align: center;
    font-weight: 400;
    margin: 0;
  }

  .search-options {
    gap: 6px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .search-option select {
    width: 100%;
    padding: 6px;
    font-size: calc(6px + 0.5vw);
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .search-button {
    background-color: #a31b1b;
    color: #fff;
    padding: 6px 15px;
    font-size: calc(8px + 0.5vw);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }

  .banner-content {
    background-color: white;
    border-radius: 10px;
    padding: 7px;
    margin-bottom: 25%;
    position: absolute;
    z-index: 1;
    width: 38%;
    margin-left: 65px;
  }

  .banner-text h1 {
    margin: 0;
    font-size: calc(10px + 0.5vw);
    font-weight: 400;
    text-align: center;
  }
  .banner-image-without-search img {
    width: 100%;
  }

  .banner-content-without-search {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    width: 30%;
    margin-left: 16px;
    margin-top: 11px;
  }

  .banner-without-row {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 24px 10px 10px 10px;
    position: relative;
  }
}


@media screen and (min-width: 551px) and (max-width: 599px) {
  .banner {
    flex-direction: row;
    text-align: left;
  }

  .banner-without-row {
    flex-direction: column;
    text-align: left;
  }

  .banner-image {
    flex: 1;
  }

  .banner-image img {
    width: auto;
    border-radius: 8px;
    height: auto;
    margin-left: 78px;
  }

  .search-container {
    background: #fff;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 80px;
    top: 34%;
    width: 33%;
    height: 35%;
  }

  .search-container h2 {
    font-size: calc(12px + 0.5vw);
    text-align: center;
    font-weight: 400;
    margin: 0;
  }

  .search-options {
    gap: 6px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .search-option select {
    width: 100%;
    padding: 6px;
    font-size: calc(6px + 0.5vw);
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .search-button {
    background-color: #a31b1b;
    color: #fff;
    padding: 6px 15px;
    font-size: calc(8px + 0.5vw);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }

  .banner-content {
    background-color: white;
    border-radius: 10px;
    padding: 7px;
    margin-bottom: 25%;
    position: absolute;
    z-index: 1;
    width: 38%;
    margin-left: 65px;
  }

  .banner-text h1 {
    margin: 0;
    font-size: calc(10px + 0.5vw);
    font-weight: 400;
    text-align: center;
  }
  .banner-image-without-search img {
    width: 100%;
  }

  .banner-content-without-search {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    width: 30%;
    margin-left: 16px;
    margin-top: 11px;
  }

  .banner-without-row {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 24px 10px 10px 10px;
    position: relative;
  }
}


@media screen and (min-width: 600px) and (max-width: 899px) {
  .banner {
    flex-direction: row;
    text-align: left;
  }

  .banner-without-row {
    flex-direction: column;
    text-align: left;
  }

  .banner-image {
    flex: 1;
  }

  .banner-image img {
    width: auto;
    border-radius: 8px;
    height: auto;
    margin-left: 78px;
    width: 80%;
  }

  .search-container {
    background: #fff;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 80px;
    top: 34%;
    width: 33%;
    height: 35%;
  }

  .search-container h2 {
    font-size: calc(12px + 0.5vw);
    text-align: center;
    font-weight: 400;
    margin: 0;
  }

  .search-options {
    gap: 6px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .search-option select {
    width: 100%;
    padding: 6px;
    font-size: calc(6px + 0.5vw);
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .search-button {
    background-color: #a31b1b;
    color: #fff;
    padding: 6px 15px;
    font-size: calc(8px + 0.5vw);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }

  .banner-content {
    background-color: white;
    border-radius: 10px;
    padding: 7px;
    margin-bottom: 25%;
    position: absolute;
    z-index: 1;
    width: 38%;
    margin-left: 65px;
  }

  .banner-text h1 {
    margin: 0;
    font-size: calc(10px + 0.5vw);
    font-weight: 400;
    text-align: center;
  }

   .banner-image-without-search img {
    width: 100%;
  }

  .banner-content-without-search {
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    width: 30%;
    margin-left: 16px;
    margin-top: 11px;
  }

  .banner-without-row {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 24px 10px 10px 10px;
    position: relative;
  }
}


@media screen and (min-width: 900px) and (max-width: 920px) {
  .banner {
    flex-direction: row;
    text-align: left;
  }

  .banner-without-row {
    flex-direction: column;
    text-align: left;
  }

  .banner-image {
    flex: 1;
  }

  .banner-image img {
    width: auto;
    border-radius: 8px;
    height: auto;
    margin-left: 78px;
    width: 80%;
  }

  .search-container {
    background: #fff;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 80px;
    top: 34%;
    width: 33%;
    height: 35%;
  }

  .search-container h2 {
    font-size: calc(12px + 0.5vw);
    text-align: center;
    font-weight: 400;
    margin: 6px;
  }

  .search-options {
    gap: 13px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .search-option select {
    width: 100%;
    padding: 6px;
    font-size: calc(6px + 0.5vw);
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .search-button {
    background-color: #a31b1b;
    color: #fff;
    padding: 6px 15px;
    font-size: calc(8px + 0.5vw);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }

  .banner-content {
    background-color: white;
    border-radius: 10px;
    padding: 7px;
    margin-bottom: 25%;
    position: absolute;
    z-index: 1;
    width: 38%;
    margin-left: 65px;
  }

  .banner-text h1 {
    margin: 2px;
    font-size: calc(12px + 0.5vw);
    font-weight: 400;
    text-align: center;
  }
}


@media screen and (min-width: 921px) and (max-width: 940px) {
  .banner-content {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 27%;
    position: absolute;
    z-index: 1;
    width: 30%;
    margin-left: 100px;
    left: 10px;
  }

  .banner-text h1 {
    margin: 0;
    font-size: calc(13px + 1vw);
    font-weight: 400;
    text-align: center;
  }

  .banner-image img {
    border-radius: 8px;
    height: auto;
    width: 77%;
  }

  .search-container {
    background: #fff;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 80px;
    top: 34%;
    width: 33%;
    height: 35%;
  }

  .search-container h2 {
    font-size: calc(12px + 0.5vw);
    text-align: center;
    font-weight: 400;
    margin: 6px;
  }

  .search-options {
    gap: 13px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .search-option select {
    width: 100%;
    padding: 6px;
    font-size: calc(6px + 0.5vw);
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .search-button {
    background-color: #a31b1b;
    color: #fff;
    padding: 6px 15px;
    font-size: calc(8px + 0.5vw);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }
}

@media screen and (min-width: 941px) and (max-width: 1000px) {
  .banner-content {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 27%;
    position: absolute;
    z-index: 1;
    width: 30%;
    margin-left: 100px;
    left: 10px;
  }

  .banner-text h1 {
    margin: 0;
    font-size: calc(13px + 1vw);
    font-weight: 400;
    text-align: center;
  }

  .banner-image img {
    border-radius: 8px;
    height: auto;
    width: 77%;
  }

  .search-container {
    background: #fff;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 80px;
    top: 34%;
    width: 33%;
    height: 35%;
  }

  .search-container h2 {
    font-size: calc(12px + 0.5vw);
    text-align: center;
    font-weight: 400;
    margin: 6px;
  }

  .search-options {
    gap: 13px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .search-option select {
    width: 100%;
    padding: 6px;
    font-size: calc(6px + 0.5vw);
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .search-button {
    background-color: #a31b1b;
    color: #fff;
    padding: 6px 15px;
    font-size: calc(8px + 0.5vw);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }
}


@media screen and (min-width: 1001px) and (max-width: 1200px) {
  .banner-content {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 27%;
    position: absolute;
    z-index: 1;
    width: 30%;
    margin-left: 100px;
    left: 10px;
  }

  .banner-text h1 {
    margin: 0;
    font-size: calc(12px + 1vw);
    font-weight: 400;
    text-align: center;
  }

  .banner-image img {
    border-radius: 8px;
    height: auto;
    width: 77%;
  }

  .search-container {
    background: #fff;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 80px;
    top: 29%;
    width: 33%;
    height: 51%;
  }

  .search-container h2 {
    font-size: calc(12px + 0.5vw);
    text-align: center;
    font-weight: 400;
    margin: 6px;
  }

  .search-options {
    gap: 17px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .search-option select {
    width: 100%;
    padding: 6px;
    font-size: calc(6px + 0.5vw);
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .search-button {
    background-color: #a31b1b;
    color: #fff;
    padding: 6px 15px;
    font-size: calc(8px + 0.5vw);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1300px) {
  .banner-content {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 27%;
    position: absolute;
    z-index: 1;
    width: 30%;
    margin-left: 100px;
    left: 10px;
  }

  .banner-text h1 {
    margin: 0;
    font-size: calc(12px + 1vw);
    font-weight: 400;
    text-align: center;
  }

  .banner-image img {
    border-radius: 8px;
    height: auto;
    width: 77%;
  }

  .search-container {
    background: #fff;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 80px;
    top: 29%;
    width: 33%;
    height: 51%;
  }

  .search-container h2 {
    font-size: calc(15px + 0.5vw);
    text-align: center;
    font-weight: 400;
    margin: 0px 13px 13px 13px;
  }

  .search-options {
    gap: 17px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .search-option select {
    width: 100%;
    padding: 9px;
    font-size: calc(6px + 0.5vw);
    border: 1px solid #ccc;
    border-radius: 2px;
  }

  .search-button {
    background-color: #a31b1b;
    color: #fff;
    padding: 6px 15px;
    font-size: calc(8px + 0.5vw);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }
}

@media screen and (min-width: 1301px) and (max-width: 1600px) {
  .banner-content {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 27%;
    position: absolute;
    z-index: 1;
    width: 30%;
    margin-left: 100px;
    left: 10px;
  }

  .banner-text h1 {
    margin: 0;
    font-size: calc(12px + 1vw);
    font-weight: 400;
    text-align: center;
  }

  .banner-image img {
    border-radius: 8px;
    height: auto;
    width: 77%;
  }

  .search-container {
    background: #fff;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 80px;
    top: 29%;
    width: 33%;
    height: 51%;
  }

  .search-container h2 {
    font-size: calc(15px + 0.5vw);
    text-align: center;
    font-weight: 400;
    margin: 0px 13px 13px 13px;
  }

  .search-options {
    gap: 28px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .search-option select {
    width: 100%;
    padding: 9px;
    font-size: calc(6px + 0.5vw);
    border: 1px solid #ccc;
    border-radius: 2px;
  }

  .search-button {
    background-color: #a31b1b;
    color: #fff;
    padding: 6px 15px;
    font-size: calc(8px + 0.5vw);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }
}


@media screen and (min-width: 1601px) and (max-width: 1700px) {
  .banner-content {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 27%;
    position: absolute;
    z-index: 1;
    width: 30%;
    margin-left: 173px;
    left: 10px;
  }

  .banner-text h1 {
    margin: 0;
    font-size: calc(12px + 1vw);
    font-weight: 400;
    text-align: center;
  }

  .banner-image img {
    border-radius: 8px;
    height: auto;
    width: 77%;
  }

  .search-container {
    background: #fff;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 172px;
    top: 29%;
    width: 33%;
    height: 51%;
  }

  .search-container h2 {
    font-size: calc(15px + 0.5vw);
    text-align: center;
    font-weight: 400;
    margin: 0px 13px 13px 13px;
  }

  .search-options {
    gap: 28px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .search-option select {
    width: 100%;
    padding: 9px;
    font-size: calc(6px + 0.5vw);
    border: 1px solid #ccc;
    border-radius: 2px;
  }

  .search-button {
    background-color: #a31b1b;
    color: #fff;
    padding: 6px 15px;
    font-size: calc(8px + 0.5vw);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }
}


@media screen and (min-width: 1701px) and (max-width: 1800px) {
  .banner-content {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 27%;
    position: absolute;
    z-index: 1;
    width: 30%;
    margin-left: 98px;
    left: 10px;
  }

  .banner-text h1 {
    margin: 0;
    font-size: calc(12px + 1vw);
    font-weight: 400;
    text-align: center;
  }

  .banner-image img {
    border-radius: 8px;
    height: auto;
    width: 90%;
  }

  .search-container {
    background: #fff;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 172px;
    top: 29%;
    width: 25%;
    height: 51%;
  }

  .search-container h2 {
    font-size: calc(15px + 0.5vw);
    text-align: center;
    font-weight: 400;
    margin: 16px 13px 18px 18px;
  }

  .search-options {
    gap: 28px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .search-option select {
    width: 100%;
    padding: 9px;
    font-size: calc(6px + 0.5vw);
    border: 1px solid #ccc;
    border-radius: 2px;
  }

  .search-button {
    background-color: #a31b1b;
    color: #fff;
    padding: 10px 17px;
    font-size: calc(8px + 0.5vw);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
}


@media screen and (min-width: 1801px) and (max-width: 1900px) {
  .banner-content {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 27%;
    position: absolute;
    z-index: 1;
    width: 30%;
    margin-left: 98px;
    left: 10px;
  }

  .banner-text h1 {
    margin: 0;
    font-size: calc(12px + 1vw);
    font-weight: 400;
    text-align: center;
  }

  .banner-image img {
    border-radius: 8px;
    height: auto;
    width: 100%;
  }

  .search-container {
    background: #fff;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 172px;
    top: 29%;
    width: 25%;
    height: 51%;
  }

  .search-container h2 {
    font-size: calc(15px + 0.5vw);
    text-align: center;
    font-weight: 400;
    margin: 16px 13px 18px 18px;
  }

  .search-options {
    gap: 28px;
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .search-option select {
    width: 100%;
    padding: 9px;
    font-size: calc(6px + 0.5vw);
    border: 1px solid #ccc;
    border-radius: 2px;
  }

  .search-button {
    background-color: #a31b1b;
    color: #fff;
    padding: 10px 17px;
    font-size: calc(8px + 0.5vw);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
}