.home-estates{
    padding-top: 8%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 8%;
}

.home-estates-mobile{
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 8%;
}