.home-estates {
    padding-top: 8%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 8%;
}

.home-estates-mobile {
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 8%;
}

.equgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two equal columns */
    gap: 20px;
    /* Space between items */
    padding: 10px;
}

.port {
    width: 80%;
    margin: auto;
}

.box1 {
    width: 33.33vw;
    height: 54vh;
    flex-shrink: 0;
    border-radius: 25px;

    background-image: url('https://res.cloudinary.com/dtivafy25/image/upload/v1722594911/WhatsApp_Image_2024-08-01_at_5.51.33_PM_fhacnn.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.boxit {
    color: #000;
    text-align: justify;
    font-family: "MADE Tommy Soft";
    font-size: 2.344vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2.4px;
}

.porthead {
    color: #000;
    text-align: justify;
    /* font-family: "MADE Tommy Soft"; */
    font-size: 3.333vw;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 3.2px;
    text-align: center;
}

.boxi {
    align-content: center;
}


@media screen and (max-width: 425px) {
    .porthead {

        font-size: 6.0vw;
    }

    .box1 {
        width: 100%;
        height: 20vh;
        flex-shrink: 0;
        border-radius: 25px;
        border: 1px solid;
    }

    .boxit {
        color: #000;
        text-align: justify;
        /* font-family: "MADE Tommy Soft"; */
        font-size: 3.8vw;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 2.4px;
    }

    .equgrid {
        display: block;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 10px;
    }
}


@media screen and (max-width: 1024px) {
    .home-estates {
        padding-top: 8%;
        padding-left: 8%;
        padding-right: 6%;
        padding-bottom: 8%;
    }
}