.experience {
  padding: 40px;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.experience-text h4 {
  font-size: 30px;
  margin: 0px 0px 40px 0px;
  font-weight: 400;
  text-align: center;
}


.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.img-box {
  width: 100px;
  height: 700px;
  margin: 10px;
  border-radius: 10px;
  background-size: cover !important;
  background-position: center !important;
  position: relative;
  /* transition: width 0.5s; */
  transition: all 0.5s;
}

.first-default {
  width: 500px;
}

.img-box:nth-child(1) {
  background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177735/img-1_abce1t.svg");
}

.img-box:nth-child(2) {
  background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177776/unsplash_AQl-J19ocWE_etmc1g.svg");
}

.img-box:nth-child(3) {
  background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177741/img-2_xhdzrh.svg");
}

.img-box:nth-child(4) {
  background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177736/img-3_ludwnz.svg");
}

.img-box:nth-child(5) {
  background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177739/img-4_gg1tyy.svg");
}

.img-box:nth-child(6) {
  background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177742/img-5_pfbwjy.svg");
}

.img-box:nth-child(7) {
  background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177742/img-6_zcgfut.svg");
}
.img-box:nth-child(8) {
  background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177749/img-7_gbzpxn.svg");
}


.img-box h3 {
  color: #fff;
  position: absolute;
  top: 0;
  left: 30px;
  opacity: 0;
  transition: 0.5s;
}

.img-box:hover {
  width: 500px;
  cursor: pointer;
}

.img-box:hover h3 {
  opacity: 1;
  bottom: 25px;
}

.img-box:nth-child(2):hover ~ .img-box:nth-child(1),
.img-box:nth-child(3):hover ~ .img-box:nth-child(1),
.img-box:nth-child(4):hover ~ .img-box:nth-child(1),
.img-box:nth-child(5):hover ~ .img-box:nth-child(1),
.img-box:nth-child(6):hover ~ .img-box:nth-child(1),
.img-box:nth-child(7):hover ~ .img-box:nth-child(1),
.img-box:nth-child(8):hover ~ .img-box:nth-child(1) {
  width: 100px;
}


@media screen and (max-width: 899) {
  .experience-text h4 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 31px;
  }
  
}

@media screen and (min-width: 900px) and (max-width: 1024px)  {
  .experience {
    padding: 40px;
  }
  
  .container {
    width: 100%;
    /* height: 50vh; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .experience-text h4 {
    font-size: 30px;
    margin: 0px 0px 40px 0px;
    font-weight: 400;
    text-align: center;
  }
  
  .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .img-box {
    width: 50px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    /* transition: width 0.5s; */
    transition: all 0.5s;
  }
  
  .first-default {
    width: 250px;
  }
  
  .img-box:nth-child(1) {
    background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177735/img-1_abce1t.svg");
  }
  
  .img-box:nth-child(2) {
    background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177776/unsplash_AQl-J19ocWE_etmc1g.svg");
  }
  
  .img-box:nth-child(3) {
    background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177741/img-2_xhdzrh.svg");
  }
  
  .img-box:nth-child(4) {
    background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177736/img-3_ludwnz.svg");
  }
  
  .img-box:nth-child(5) {
    background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177739/img-4_gg1tyy.svg");
  }
  
  .img-box:nth-child(6) {
    background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177742/img-5_pfbwjy.svg");
  }
  
  .img-box:nth-child(7) {
    background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177742/img-6_zcgfut.svg");
  }
  
  .img-box:nth-child(8) {
    background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177749/img-7_gbzpxn.svg");
  }
  

  .img-box h3 {
    color: #fff;
    position: absolute;
    top: 0;
    left: 30px;
    opacity: 0;
    transition: 0.5s;
  }
  
  .img-box:hover {
    width: 250px;
    cursor: pointer;
  }
  
  .img-box:hover h3 {
    opacity: 1;
    bottom: 25px;
  }
  
  .img-box:nth-child(2):hover ~ .img-box:nth-child(1),
  .img-box:nth-child(3):hover ~ .img-box:nth-child(1),
  .img-box:nth-child(4):hover ~ .img-box:nth-child(1),
  .img-box:nth-child(5):hover ~ .img-box:nth-child(1),
  .img-box:nth-child(6):hover ~ .img-box:nth-child(1),
  .img-box:nth-child(7):hover ~ .img-box:nth-child(1),
  .img-box:nth-child(8):hover ~ .img-box:nth-child(1) {
    width: 50px;
  }  
}


@media screen and (min-width: 1025px) and (max-width: 1300px)  {
  .experience {
    padding: 40px;
  }
  
  .container {
    width: 100%;
    /* height: 50vh; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .experience-text h4 {
    font-size: 30px;
    margin: 0px 0px 40px 0px;
    font-weight: 400;
    text-align: center;
  }
  
  .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .img-box {
    width: 50px;
    height: 300px;
    margin: 10px;
    border-radius: 10px;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    /* transition: width 0.5s; */
    transition: all 0.5s;
  }
  
  .first-default {
    width: 250px;
  }
  
  .img-box:nth-child(1) {
    background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177735/img-1_abce1t.svg");
  }
  
  .img-box:nth-child(2) {
    background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177776/unsplash_AQl-J19ocWE_etmc1g.svg");
  }
  
  .img-box:nth-child(3) {
    background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177741/img-2_xhdzrh.svg");
  }
  
  .img-box:nth-child(4) {
    background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177736/img-3_ludwnz.svg");
  }
  
  .img-box:nth-child(5) {
    background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177739/img-4_gg1tyy.svg");
  }
  
  .img-box:nth-child(6) {
    background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177742/img-5_pfbwjy.svg");
  }
  
  .img-box:nth-child(7) {
    background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177742/img-6_zcgfut.svg");
  }
  
  .img-box:nth-child(8) {
    background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177749/img-7_gbzpxn.svg");
  }
  
  .img-box h3 {
    color: #fff;
    position: absolute;
    top: 0;
    left: 30px;
    opacity: 0;
    transition: 0.5s;
  }
  
  .img-box:hover {
    width: 250px;
    cursor: pointer;
  }
  
  .img-box:hover h3 {
    opacity: 1;
    bottom: 25px;
  }
  
  .img-box:nth-child(2):hover ~ .img-box:nth-child(1),
  .img-box:nth-child(3):hover ~ .img-box:nth-child(1),
  .img-box:nth-child(4):hover ~ .img-box:nth-child(1),
  .img-box:nth-child(5):hover ~ .img-box:nth-child(1),
  .img-box:nth-child(6):hover ~ .img-box:nth-child(1),
  .img-box:nth-child(7):hover ~ .img-box:nth-child(1),
  .img-box:nth-child(8):hover ~ .img-box:nth-child(1) {
    width: 50px;
  }  
}



@media screen and (min-width: 1301px) and (max-width: 1900px)  {
  .experience {
    padding: 40px;
  }
  
  .container {
    width: 100%;
    /* height: 50vh; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .experience-text h4 {
    font-size: 30px;
    margin: 0px 0px 40px 0px;
    font-weight: 400;
    text-align: center;
  }
  
  .gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .img-box {
    width: 50px;
    height: 400px;
    margin: 10px;
    border-radius: 10px;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
    /* transition: width 0.5s; */
    transition: all 0.5s;
  }
  
  .first-default {
    width: 300px;
  }
  
  .img-box:nth-child(1) {
    background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177735/img-1_abce1t.svg");
  }
  
  .img-box:nth-child(2) {
    background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177776/unsplash_AQl-J19ocWE_etmc1g.svg");
  }
  
  .img-box:nth-child(3) {
    background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177741/img-2_xhdzrh.svg");
  }
  
  .img-box:nth-child(4) {
    background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177736/img-3_ludwnz.svg");
  }
  
  .img-box:nth-child(5) {
    background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177739/img-4_gg1tyy.svg");
  }
  
  .img-box:nth-child(6) {
    background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177742/img-5_pfbwjy.svg");
  }
  
  .img-box:nth-child(7) {
    background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177742/img-6_zcgfut.svg");
  }
  
  .img-box:nth-child(8) {
    background: url("https://res.cloudinary.com/dtivafy25/image/upload/v1720177749/img-7_gbzpxn.svg");
  }
  
  .img-box h3 {
    color: #fff;
    position: absolute;
    top: 0;
    left: 30px;
    opacity: 0;
    transition: 0.5s;
  }
  
  .img-box:hover {
    width: 250px;
    cursor: pointer;
  }
  
  .img-box:hover h3 {
    opacity: 1;
    bottom: 25px;
  }
  
  .img-box:nth-child(2):hover ~ .img-box:nth-child(1),
  .img-box:nth-child(3):hover ~ .img-box:nth-child(1),
  .img-box:nth-child(4):hover ~ .img-box:nth-child(1),
  .img-box:nth-child(5):hover ~ .img-box:nth-child(1),
  .img-box:nth-child(6):hover ~ .img-box:nth-child(1),
  .img-box:nth-child(7):hover ~ .img-box:nth-child(1),
  .img-box:nth-child(8):hover ~ .img-box:nth-child(1) {
    width: 50px;
  }  
}
